.theme-default {
  $border: 1px solid rgba(0, 0, 0, 0.45);

  .vp-window {
    border: $border;
    background-color: #F3F3F3;
    transition: opacity 0.3s, transform 0.3s, background-color 0.5s;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27);

    .vp-window-content {

      .vp-window-title-bar {
        overflow: hidden;
        text-shadow: 0 0 10px white;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        border-radius:0;
        height: 30px;

        .vp-window-title-bar-text {
          padding-left: 6px;
        }
      }
      .vp-window-body {
        border: 0;
        height: calc(100% - 30px);
      }
    }

    .vp-window-controls {
      padding-right: 0;

      button {
        display: inline-flex;
        align-items: center;
        border: $border;
        border: 0 !important;
        margin-top: 0;
        min-width: 40px;
        height: 30px;
        border-radius:0;
        & + button {
          border-left: 0 !important;
        }

        &:hover {
          background-color: rgba(222, 222, 222, 1);
          transition: all 0.1s;
          &.is-close {
            background-color: #ffa5aa !important;
          }
        }

        &:active {
          background-color: rgba(116, 116, 116, 0.46);
          &.is-close {
            background-color: #ff6a72 !important;
          }
        }
      }
    }

    &._maximized {
      padding: 0;
      .vp-window-content {
        .vp-window-title-bar {
          margin-left: 0;
          margin-right: -3px;
        }
        .vp-window-body {
          border: none;
        }
      }
    }

    &._active {
      background-color: white;
    }

  }

  .vp-panel {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid $color_border;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }

  .vp-button {
    background-color: #FDFDFD;
    border: 1px solid $color_border;
    border-radius: 0;

    &:not(:disabled) {
      &:hover {
        border-color: $primary;
      }
      &:active {
        opacity: .6;
      }
    }
  }

  .vp-input {
    border-radius: 0;
  }

  &._dark {
    .vp-window {
      background-color: #4B4B4B;
      color: white;
      border-color: rgba(255, 255, 255, 0.2);

      &._active {
        background-color: #202020;
      }

      .vp-window-content {
        .vp-window-title-bar {
          color: white;
          text-shadow: 0 0 10px black;
        }
        .vp-window-controls {
          button {
            border: 1px solid rgba(255, 255, 255, 0.2);

            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
              &.is-close {
                background-color: rgba(232, 17, 35, 0.7) !important;
              }
            }
            &:active {
              background-color: rgba(255, 255, 255, 0.1);
              &.is-close {
                background-color: rgba(151, 23, 34, 0.7) !important;
              }
            }
          }
        }
      }

      .vp-window-body {
        &._bg {
          background-color: rgba(30, 30, 30, 1);
        }
      }

      .vp-window-controls {
        border-radius: 0;
        display: flex;
        align-items: flex-start;

        button {
          background-color: transparent;
          img {
            filter: drop-shadow(0 0 2px #fff);
          }

          &:hover {
            background-color: rgba(227, 227, 227, 1);
          }

          &:active {
            background-color: rgba(109, 109, 109, 1);
          }
        }
      }
    }


    .vp-panel {
      background-color: rgba(43, 43, 43, 0.85);
      color: white;
    }

    .vp-button {
      background-color: #252525;
      color: white;
    }
    .vp-input {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
  }
}
