.theme-win7 {
  --window-spacing: 6px;
  --window-border: 1px solid;
  --window-border-radius: 6px;
  --window-border-color: rgba(0, 0, 0, 0.7);
  --window-background-color: #4580c4;
  --window-background-glass-stripes: linear-gradient(
      135deg,
      #fff5 70px,
      transparent 100px
  ),
  linear-gradient(225deg, #fff5 70px, transparent 100px),
  linear-gradient(
      54deg,
      /* ------------------------------- 1st stripe ------------------------------- */
      #0002 0 4%,
      #6661 6% 6%,
      #0002 8% 10%,
      /* ------------------------------- 2nd stripe ------------------------------- */
      #0002 15% 16%,
      #aaa1 17% 18%,
      #0002 23% 24%,
      /* ------------------------------- 3rd stripe ------------------------------- */
      #bbb2 25% 26%,
      #0002 31% 33%,
      /* ------------------------------- 4th stripe ------------------------------- */
      #0002 34% 34.5%,
      #bbb2 36% 40%,
      /* ------------------------------- 5th stripe ------------------------------- */
      #0002 41% 41.5%,
      #bbb2 44% 45%,
      /* ------------------------------- 6th stripe ------------------------------- */
      #bbb2 46% 47%,
      #0002 48% 49%,
      #0002 50% 50.5%,
      /* ------------------------------- 7th stripe ------------------------------- */
      #0002 56% 56.5%,
      #bbb2 57% 63%,
      #0002 67% 69%,
      /* ------------------------------- 8th stripe ------------------------------- */
      #bbb2 69.5% 70%,
      #0002 73.5% 74%,
      /* ------------------------------- 9th stripe ------------------------------- */
      #bbb2 74.5% 79%,
      #0002 80% 84%,
      /* ------------------------------- 10th stripe ------------------------------- */
      #aaa2 85% 86%,
      #0002 87%,
      #bbb1 90%
  ) left center/100vw 100vh no-repeat fixed;
  --window-background: linear-gradient(
      to right,
      #ffffff66,
      #0000001a,
      #ffffff33
  ), var(--primary);
  //var(--window-background-color);

  --control-border-color: rgba(0, 0, 0, 0.3);
  --control-border-radius: 5px;
  --control-inset-shadow: inset 0 0 0 1px #fffa;
  --control-background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3) 45%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(255, 255, 255, 0.5)
  );

  /* Colors for minimize, maximize, and restore buttons when hovered */
  --control-background-hovered: radial-gradient(
      circle at bottom,
      #2aceda,
      transparent 65%
  ),
  linear-gradient(#b6d9ee 50%, #1a6ca1 50%);

  /* Colors for minimize, maximize, and restore buttons when clicked */
  --control-background-active: radial-gradient(
      circle at bottom,
      #0bfdfa,
      transparent 65%
  ),
  linear-gradient(#86a7bc 50%, #092747 50%);

  /* Colors for the close button at normal state */
  --control-background-close: radial-gradient(
      circle at -60% 50%,
      #0007 5% 10%,
      #0000 50%
  ),
  radial-gradient(circle at 160% 50%, #0007 5% 10%, #0000 50%),
  linear-gradient(#e0a197e5, #cf796a 25% 50%, #d54f36 50%);

  /* Colors for the close button when hovered */
  --control-background-close-hovered: radial-gradient(
      circle at 50% 170%,
      #f4e676 10% 20%,
      #0000 60%
  ),
  radial-gradient(circle at -60% 50%, #000a 5% 10%, #0000 50%),
  radial-gradient(circle at 160% 50%, #000a 5% 10%, #0000 50%),
  linear-gradient(#fb9d8b, #ee6d56 25% 50%, #d42809 50%);

  /* Colors for the close button when clicked */
  --control-background-close-active: radial-gradient(
      circle at 50% 170%,
      #dcc03f 10% 20%,
      #0000 60%
  ),
  radial-gradient(circle at -60% 50%, #000 5% 10%, #0000 50%),
  radial-gradient(circle at 160% 50%, #000 5% 10%, #0000 50%),
  linear-gradient(#d1a894, #b67562 25% 50%, #7d0d01 50%);
}

@mixin windowEffects() {

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--window-border-radius);
    background: linear-gradient(transparent 20%, #ffffffb3 40%, transparent 41%),
    var(--window-background);
    box-shadow: inset 0 0 0 1px #fffd;
    opacity: 0.6;
    /* filter: brightness(1.2); */
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--window-border-radius);
    border: none;
    backdrop-filter: blur(4px);
  }

}

.theme-win7 {

  .vp-window-panel {
    box-shadow: 2px 2px 10px 1px var(--window-border-color), inset 0 0 0 1px #fffa;
    border: var(--window-border) var(--window-border-color);
    border-radius: var(--window-border-radius);
    &._panel-bg {
      backdrop-filter: blur(4px);
      background: var(--window-background-glass-stripes);
      color: white;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--window-border-radius);
        background: var(--window-background);
        box-shadow: inset 0 0 0 1px #fffd;
        opacity: 0.6;
        /* filter: brightness(1.2); */
      }

    }
  }

  .vp-window {
    font: var(--font);
    box-shadow: 2px 2px 10px 1px var(--window-border-color), inset 0 0 0 1px #fffa;
    border: var(--window-border) var(--window-border-color);
    border-radius: var(--window-border-radius);
    @include windowEffects();

    .vp-window-body {
      margin: var(--window-spacing);
      margin-top: 0;
      border: var(--window-border) var(--window-border-color);
      background: var(--surface);
      box-shadow: 0 0 0 1px #fff9;
      height: calc(100% - 37px) !important;

      &.has-space {
        padding: var(--window-spacing);
      }

      pre {
        margin: calc(var(--window-spacing) * -1);
      }
    }

    .vp-window-title-bar {
      border: none !important;
      box-shadow: inset 0 1px 0 #fffd, inset 1px 0 0 #fffd, inset -1px 0 0 #fffd;
      font: var(--font);
      border: var(--window-border) var(--window-border-color);
      border-radius: var(--window-border-radius) var(--window-border-radius) 0 0;
      padding: var(--window-spacing);
      display: flex;
      justify-content: space-between;
      align-items: center;
      //background: var(--window-background);
      background: var(--window-background-glass-stripes);

      .vp-window-title-bar-text {
        color: #000;
        letter-spacing: 0;
        line-height: 15px;
        text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
        0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
      }


    }

    .vp-window-controls {
      display: flex;
      background: #fff3;
      border: var(--window-border) var(--control-border-color);
      border-top: 0;
      border-radius: 0 0 var(--control-border-radius) var(--control-border-radius);
      //margin-top: calc(var(--window-spacing) * -1);
      margin-top: -8px;
      box-shadow: 0 1px 0 #fffa, 1px 0 0 #fffa, -1px 0 0 #fffa;

      button {
        position: relative;
        min-width: 29px;
        min-height: 19px;
        padding: 0;
        border: 0;
        border-right: var(--window-border) var(--control-border-color);
        border-radius: 0;
        box-shadow: none;
        box-sizing: border-box;
        background: none;
        color: white;
        height: auto;

        &>i {
          filter:
            drop-shadow( 1px  0px 0px #535665)
            drop-shadow(-1px  0px 0px #535665)
            drop-shadow( 0px  1px 0px #535665)
            drop-shadow( 0px -1px 0px #535665);
          svg {
            width: 14px;
            height: 14px;
          }
        }

        &::after {
          content: none;
        }

        &:hover,
        &:active {
          /* resolve the conflict with button styles */
          background: none;
        }

        &:disabled {
          &::before {
            opacity: 0.4;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 0;
          box-shadow: inset 0 0 0 1px #fff5;
          opacity: 1;
        }

        &:not(:hover)::before {
          transition: none;
          opacity: 1;
        }

        &[aria-label="Minimize"],
        &.is-minimize {
          &>i {
            display: none;
          }
          &::before {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/minimize.png") no-repeat center 10px;
          }
        }

        &[aria-label="Maximize"],
        &.is-maximize {
          &>i {
            display: none;
          }
          &::before {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/maximize.png") no-repeat center;
          }
        }

        &[aria-label="Restore"],
        &.is-restore {
          &>i {
            display: none;
          }
          &::before {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/restore.png") no-repeat center;
          }
        }

        &[aria-label="Close"],
        &.is-close {
          &>i {
            display: none;
          }
          min-width: 48px;

          &::before {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/close.png") no-repeat center;
          }
        }

        &:first-child,
        &:first-child::before {
          border-bottom-left-radius: var(--control-border-radius);
        }

        &:last-child,
        &:last-child::before {
          border: 0;
          border-bottom-right-radius: var(--control-border-radius);
        }

        &:focus {
          outline: none;
          animation: none;
        }
      }
    }

    &._maximized {
      &::before{
        border-radius: unset;
      }
      .vp-window-content {
        .vp-window-title-bar {
          border-top-left-radius: unset;
          border-top-right-radius: unset;
          box-shadow: none;
        }
        .vp-window-body {
          border-bottom-left-radius: unset;
          border-bottom-right-radius: unset;
          margin: 0;
          height: calc(100% - 31px) !important;
        }
      }
    }

    &._active {
      .vp-window-controls {
        border-color: var(--window-border-color);

        button {
          border-color: var(--window-border-color);
          box-shadow: var(--control-inset-shadow);

          &::after {
            content: none;
          }

          /*normal button start*/
          background: var(--control-background);

          &::before {
            content: "";
            box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
            background: var(--control-background-hovered);
            opacity: 0;
            transition: opacity 0.3s linear;
          }

          &:hover::before,
          &:focus-visible::before {
            opacity: 1;
            transition: opacity 0.1s linear;
          }

          &:active::before {
            background: var(--control-background-active);
          }

          /*normal button end*/

          &[aria-label="Minimize"],
          &.is-minimize {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/minimize.png") no-repeat center 10px,
            var(--control-background);

            &::before {
              content: "";
              box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/minimize.png") no-repeat center 10px,
              var(--control-background-hovered);
              border-bottom-left-radius: var(--control-border-radius);
              opacity: 0;
              transition: opacity 0.3s linear;
            }

            &:hover::before,
            &:focus-visible::before {
              opacity: 1;
              transition: opacity 0.1s linear;
            }

            &:active::before {
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/minimize.png") no-repeat center 10px,
              var(--control-background-active);
            }
          }

          &[aria-label="Maximize"],
          &.is-maximize {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/maximize.png") no-repeat center,
            var(--control-background);

            &::before {
              content: "";
              box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/maximize.png") no-repeat center,
              var(--control-background-hovered);
              opacity: 0;
              transition: opacity 0.3s linear;
            }

            &:hover::before,
            &:focus-visible::before {
              opacity: 1;
              transition: opacity 0.1s linear;
            }

            &:active::before {
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/maximize.png") no-repeat center,
              var(--control-background-active);
            }
          }

          &[aria-label="Restore"],
          &.is-restore {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/restore.png") no-repeat center,
            var(--control-background);

            &::before {
              content: "";
              box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/restore.png") no-repeat center,
              var(--control-background-hovered);
              opacity: 0;
              transition: opacity 0.3s linear;
            }

            &:hover::before,
            &:focus-visible::before {
              opacity: 1;
              transition: opacity 0.1s linear;
            }

            &:active::before {
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/restore.png") no-repeat center,
              var(--control-background-active);
            }
          }

          &[aria-label="Close"],
          &.is-close {
            background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/close.png") no-repeat center,
            var(--control-background), var(--control-background-close);
            box-shadow: var(--control-inset-shadow);


            &::before {
              content: "";
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/close.png") no-repeat center,
              var(--control-background), var(--control-background-close-hovered);
              box-shadow: 0 0 7px 3px #e68e75, var(--control-inset-shadow);
              border-bottom-right-radius: var(--control-border-radius);
              opacity: 0;
              transition: opacity 0.3s linear;
            }

            &:hover::before,
            &:focus-visible::before {
              opacity: 1;
              transition: opacity 0.1s linear;
            }

            &:active::before {
              background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/close.png") no-repeat center,
              var(--control-background), var(--control-background-close-active);
            }
          }

          &:disabled {
            &[aria-label="Maximize"],
            &.is-maximize {
              background: var(--control-background);

              &::before {
                content: "";
                background: url("@/components/CommonUI/ViewPortWindow/theme/theme-win7/icon/maximize.png") no-repeat center;
                opacity: 0.4;
              }
            }

            /* TODO: Add rules to style disabled close button */
          }
        }
      }
    }

  }

}
