:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  a {
    color: $primary;
  }
}


html, body, #app {
  height: 100%;
}

.font-code {
  font-family: 'Victor Mono Regular', 'Cascadia Code', '等距更纱黑体 SC', 'Monaco', 'Fira Code Medium', Consolas, 'Courier New', monospace;
}

.font-emoji {
  font-family: "Segoe UI Emoji", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn-no-style {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  //&:focus {
  //  outline: 1px dashed currentColor;
  //  outline-offset: -1px;
  //}
}

._scrollbar_mini, ._scrollbar_mini * {

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: overlay;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(192, 192, 192, 0.63);

    &:hover {
      background-color: #bebebe;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
  }
}

.error-tip-button {
  background-color: #f44336;
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.os-loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  &._absolute {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(134, 134, 134, 0.1);
  }

  &._fixed {
    position: fixed;
    z-index: 200;
    background-color: rgba(134, 134, 134, 0.1);
  }
}

.selection-area {
  background: $primary_opacity;
  border: 1px solid $primary;
}


* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: overlay;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(192, 192, 192, 0.63);

    &:hover {
      background-color: #bebebe;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
