.theme-classic .vp-window {
  padding: 1px;
  background: #D4D0C8;
  border: 1px solid rgba(45, 45, 45, 0.3);
  box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff !important;
}
.theme-classic .vp-window .vp-window-content .vp-window-title-bar {
  background: linear-gradient(45deg, #808080, #C0C0C0);
  color: #D4D0C8;
  padding: 1px 1px 1px 2px;
}
.theme-classic .vp-window .vp-window-content .vp-window-title-bar .vp-window-title-bar-text {
  font-size: 12px;
}
.theme-classic .vp-window .vp-window-controls {
  gap: 2px;
}
.theme-classic .vp-window .vp-window-controls button {
  box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff;
  background-color: #D4D0C8;
  color: black;
  padding: 0;
  transition: none;
  border: none;
  height: 18px;
  min-width: 24px;
}
.theme-classic .vp-window .vp-window-controls button i {
  transform: scale(0.8);
}
.theme-classic .vp-window .vp-window-controls button:not(.theme-classic .vp-window .vp-window-controls button:disabled):active {
  box-shadow: inset 1px 1px gray, 1px 0 #fff, 0 1px #fff, 1px 1px #fff !important;
}
.theme-classic .vp-window .vp-window-body {
  height: calc(100% - 23px) !important;
}
.theme-classic .vp-window._active .vp-window-content .vp-window-title-bar {
  color: white;
  background: linear-gradient(45deg, var(--primary), rgba(var(--primary-rgb), 0.25));
}
.theme-classic .vp-panel {
  background-color: #D4D0C8;
  box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff;
  border: 1px solid rgba(45, 45, 45, 0.3);
}
.theme-classic .vp-button, .theme-classic .n-button {
  border: none;
  box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff;
}
.theme-classic .vp-button:not(.theme-classic .vp-button:disabled, .theme-classic .n-button:disabled):active, .theme-classic .vp-button:not(.theme-classic .vp-button:disabled, .theme-classic .n-button:disabled).active, .theme-classic .n-button:not(.theme-classic .vp-button:disabled, .theme-classic .n-button:disabled):active, .theme-classic .n-button:not(.theme-classic .vp-button:disabled, .theme-classic .n-button:disabled).active {
  box-shadow: inset 1px 1px gray, 1px 0 #fff, 0 1px #fff, 1px 1px #fff !important;
}
.theme-classic .vp-input, .theme-classic .n-input {
  background: #fff;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
}
.theme-classic .n-tabs-tab {
  box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #fff;
}
.theme-classic .n-tabs-tab:active {
  box-shadow: inset 1px 1px gray, 1px 0 #fff, 0 1px #fff, 1px 1px #fff !important;
}
.theme-classic .n-tabs-tab.n-tabs-tab--active {
  box-shadow: inset 1px 1px gray, 1px 0 #fff, 0 1px #fff, 1px 1px #fff !important;
}
.theme-classic._dark .vp-window {
  color: white;
}
.theme-classic._dark .vp-window .vp-window-body._bg {
  background-color: #31363C;
}
.theme-classic._dark .vp-panel {
  background-color: #31363C;
  color: white;
  box-shadow: 1px 0 #2C3034, 0 1px #2C3034, 1px 1px #2C3034, inset 1px 1px #7E888F;
}
.theme-classic._dark .vp-button, .theme-classic._dark .n-button {
  background-color: #3C434A;
  border-color: #7E888F;
  color: white;
  box-shadow: 1px 0 #2C3034, 0 1px #2C3034, 1px 1px #2C3034, inset 1px 1px #7E888F;
}
.theme-classic._dark .vp-button:not(.theme-classic._dark .vp-button:disabled, .theme-classic._dark .n-button:disabled):active, .theme-classic._dark .vp-button:not(.theme-classic._dark .vp-button:disabled, .theme-classic._dark .n-button:disabled).active, .theme-classic._dark .n-button:not(.theme-classic._dark .vp-button:disabled, .theme-classic._dark .n-button:disabled):active, .theme-classic._dark .n-button:not(.theme-classic._dark .vp-button:disabled, .theme-classic._dark .n-button:disabled).active {
  box-shadow: inset 1px 1px #2C3034, 1px 0 #89939C, 0 1px #89939C, 1px 1px #89939C !important;
}
.theme-classic._dark .vp-input, .theme-classic._dark .n-input {
  background: #31363C;
  color: white;
  box-shadow: inset -1px -1px #89939C, inset 1px 1px #1a1c1e;
}