/**
 * Core 7.css
 * Based on XP GUI.css by Adam Hammad <adamham.dev>
 * https://github.com/khang-nd/7.css/blob/main/LICENSE
 */
.theme-win7 {
  --font: 9pt "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
  --surface: #f0f0f0;
  --button-highlight: #fff;
  --button-face: #f2f2f2;
  --button-face-hover: #eaf6fd;
  --button-face-active: #c4e5f6;
  --button-face-disabled: #f4f4f4;
  --button-shade-light: #ebebeb;
  --button-shade-light-default: #c3dcea;
  --button-shade-light-hovered: #bee6fd;
  --button-shade-light-active: #98d1ef;
  --button-shade-dark: #cfcfcf;
  --button-shadow: inset 0 0 0 1px #fffc;
  --button-shadow-active: inset 1px 1px 0 #0003, inset -1px 1px 0 #0001;
  --button-border: 1px solid;
  --button-border-color: #8e8f8f;
  --button-border-color-default: #5586a3;
  --button-border-color-hovered: #3c7fb1;
  --button-border-color-active: #6d91ab;
  --button-border-color-disabled: #aeb2b5;
  --button-text-color-disabled: #838383;
  --button-gradient: linear-gradient(
    to bottom,
    var(--button-face) 45%,
    var(--button-shade-light) 45%,
    var(--button-shade-dark)
  );
  --button-gradient-hovered: linear-gradient(
    to bottom,
    var(--button-face-hover) 45%,
    var(--button-shade-light-hovered) 45%,
    #a7d9f5
  );
  --button-gradient-active: linear-gradient(
    to bottom,
    #e5f4fc,
    var(--button-face-active) 30% 50%,
    var(--button-shade-light-active) 50%,
    #68b3db
  );
  --element-spacing: 8px;
  --grouped-element-spacing: 6px;
  --border-radius: 3px;
  --border-width: 1px;
}

.theme-win7 .vp-button, .theme-win7 .n-button {
  font: var(--font);
  box-sizing: border-box;
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  color: #222;
  padding: 0 8px;
  text-align: center;
  background: var(--button-gradient);
  position: relative;
  z-index: 0;
  /* Button style on hovered */
  /* Button style on clicked */
}
.theme-win7 .vp-button::before, .theme-win7 .n-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  background: var(--button-gradient-hovered);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.theme-win7 .vp-button::after, .theme-win7 .n-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  box-shadow: var(--button-shadow-active);
  border-radius: 2px;
  background: var(--button-gradient-active);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.theme-win7 .vp-button:disabled, .theme-win7 .n-button:disabled {
  background: var(--button-face-disabled);
  border-color: var(--button-border-color-disabled);
  color: var(--button-text-color-disabled);
}
.theme-win7 .vp-button:not(:disabled), .theme-win7 .n-button:not(:disabled) {
  /* Animation when hovered */
  /* Animation when unhovered */
}
.theme-win7 .vp-button:not(:disabled):hover, .theme-win7 .n-button:not(:disabled):hover {
  border-color: var(--button-border-color-hovered);
  transition: border-color 0.3s;
}
.theme-win7 .vp-button:not(:disabled):hover::before, .theme-win7 .n-button:not(:disabled):hover::before {
  opacity: 1;
  transition: opacity 0.3s;
}
.theme-win7 .vp-button:not(:disabled):not(:hover), .theme-win7 .n-button:not(:disabled):not(:hover) {
  border-color: var(--button-border-color);
  transition: border-color 1s linear;
}
.theme-win7 .vp-button:not(:disabled):not(:hover)::before, .theme-win7 .n-button:not(:disabled):not(:hover)::before {
  opacity: 0;
  transition: opacity 1s linear;
}
.theme-win7 .vp-button:not(:disabled):active, .theme-win7 .vp-button:not(:disabled).active, .theme-win7 .n-button:not(:disabled):active, .theme-win7 .n-button:not(:disabled).active {
  border-color: var(--button-border-color-active);
  transition: border-color 0.3s;
}
.theme-win7 .vp-button:not(:disabled):active::after, .theme-win7 .vp-button:not(:disabled).active::after, .theme-win7 .n-button:not(:disabled):active::after, .theme-win7 .n-button:not(:disabled).active::after {
  opacity: 1;
  transition: opacity 0.3s;
}
.theme-win7 .vp-button:focus-visible, .theme-win7 .vp-button.focused, .theme-win7 .n-button:focus-visible, .theme-win7 .n-button.focused {
  box-shadow: inset 0 0 0 2px var(--button-shade-light-active);
  outline: 1px dotted #000;
  outline-offset: -4px;
}
.theme-win7 .vp-button.default, .theme-win7 .vp-button:focus, .theme-win7 .vp-button.focused, .theme-win7 .n-button.default, .theme-win7 .n-button:focus, .theme-win7 .n-button.focused {
  border-color: var(--button-border-color-default);
  background-image: var(--button-gradient-hovered);
  animation: 1s ease infinite alternate pulse-anim;
}

@keyframes pulse-anim {
  from {
    box-shadow: inset 0 0 3px 1px rgba(52, 222, 255, 0.8666666667);
  }
  to {
    box-shadow: inset 0 0 1px 1px rgba(52, 222, 255, 0.8666666667);
  }
}
.theme-win7 .vp-input, .theme-win7 .n-input {
  font: var(--font);
  border: 1px solid #ccc;
  border-top-color: var(--button-border-color);
  border-radius: 2px;
  background-color: var(--button-highlight);
  box-sizing: border-box;
}
.theme-win7 .vp-input:focus, .theme-win7 .n-input:focus {
  outline: none;
  border-color: var(--button-shade-light-hovered);
  border-top-color: var(--button-shade-light-active);
}

.theme-win7 {
  --window-spacing: 6px;
  --window-border: 1px solid;
  --window-border-radius: 6px;
  --window-border-color: rgba(0, 0, 0, 0.7);
  --window-background-color: #4580c4;
  --window-background-glass-stripes: linear-gradient(
      135deg,
      #fff5 70px,
      transparent 100px
  ),
  linear-gradient(225deg, #fff5 70px, transparent 100px),
  linear-gradient(
      54deg,
      /* ------------------------------- 1st stripe ------------------------------- */
      #0002 0 4%,
      #6661 6% 6%,
      #0002 8% 10%,
      /* ------------------------------- 2nd stripe ------------------------------- */
      #0002 15% 16%,
      #aaa1 17% 18%,
      #0002 23% 24%,
      /* ------------------------------- 3rd stripe ------------------------------- */
      #bbb2 25% 26%,
      #0002 31% 33%,
      /* ------------------------------- 4th stripe ------------------------------- */
      #0002 34% 34.5%,
      #bbb2 36% 40%,
      /* ------------------------------- 5th stripe ------------------------------- */
      #0002 41% 41.5%,
      #bbb2 44% 45%,
      /* ------------------------------- 6th stripe ------------------------------- */
      #bbb2 46% 47%,
      #0002 48% 49%,
      #0002 50% 50.5%,
      /* ------------------------------- 7th stripe ------------------------------- */
      #0002 56% 56.5%,
      #bbb2 57% 63%,
      #0002 67% 69%,
      /* ------------------------------- 8th stripe ------------------------------- */
      #bbb2 69.5% 70%,
      #0002 73.5% 74%,
      /* ------------------------------- 9th stripe ------------------------------- */
      #bbb2 74.5% 79%,
      #0002 80% 84%,
      /* ------------------------------- 10th stripe ------------------------------- */
      #aaa2 85% 86%,
      #0002 87%,
      #bbb1 90%
  ) left center/100vw 100vh no-repeat fixed;
  --window-background: linear-gradient(
      to right,
      #ffffff66,
      #0000001a,
      #ffffff33
  ), var(--primary);
  --control-border-color: rgba(0, 0, 0, 0.3);
  --control-border-radius: 5px;
  --control-inset-shadow: inset 0 0 0 1px #fffa;
  --control-background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3) 45%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(255, 255, 255, 0.5)
  );
  /* Colors for minimize, maximize, and restore buttons when hovered */
  --control-background-hovered: radial-gradient(
      circle at bottom,
      #2aceda,
      transparent 65%
  ),
  linear-gradient(#b6d9ee 50%, #1a6ca1 50%);
  /* Colors for minimize, maximize, and restore buttons when clicked */
  --control-background-active: radial-gradient(
      circle at bottom,
      #0bfdfa,
      transparent 65%
  ),
  linear-gradient(#86a7bc 50%, #092747 50%);
  /* Colors for the close button at normal state */
  --control-background-close: radial-gradient(
      circle at -60% 50%,
      #0007 5% 10%,
      #0000 50%
  ),
  radial-gradient(circle at 160% 50%, #0007 5% 10%, #0000 50%),
  linear-gradient(#e0a197e5, #cf796a 25% 50%, #d54f36 50%);
  /* Colors for the close button when hovered */
  --control-background-close-hovered: radial-gradient(
      circle at 50% 170%,
      #f4e676 10% 20%,
      #0000 60%
  ),
  radial-gradient(circle at -60% 50%, #000a 5% 10%, #0000 50%),
  radial-gradient(circle at 160% 50%, #000a 5% 10%, #0000 50%),
  linear-gradient(#fb9d8b, #ee6d56 25% 50%, #d42809 50%);
  /* Colors for the close button when clicked */
  --control-background-close-active: radial-gradient(
      circle at 50% 170%,
      #dcc03f 10% 20%,
      #0000 60%
  ),
  radial-gradient(circle at -60% 50%, #000 5% 10%, #0000 50%),
  radial-gradient(circle at 160% 50%, #000 5% 10%, #0000 50%),
  linear-gradient(#d1a894, #b67562 25% 50%, #7d0d01 50%);
}

.theme-win7 .vp-window-panel {
  box-shadow: 2px 2px 10px 1px var(--window-border-color), inset 0 0 0 1px rgba(255, 255, 255, 0.6666666667);
  border: var(--window-border) var(--window-border-color);
  border-radius: var(--window-border-radius);
}
.theme-win7 .vp-window-panel._panel-bg {
  backdrop-filter: blur(4px);
  background: var(--window-background-glass-stripes);
  color: white;
}
.theme-win7 .vp-window-panel._panel-bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--window-border-radius);
  background: var(--window-background);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8666666667);
  opacity: 0.6;
  /* filter: brightness(1.2); */
}
.theme-win7 .vp-window {
  font: var(--font);
  box-shadow: 2px 2px 10px 1px var(--window-border-color), inset 0 0 0 1px rgba(255, 255, 255, 0.6666666667);
  border: var(--window-border) var(--window-border-color);
  border-radius: var(--window-border-radius);
}
.theme-win7 .vp-window::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--window-border-radius);
  background: linear-gradient(transparent 20%, rgba(255, 255, 255, 0.7019607843) 40%, transparent 41%), var(--window-background);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8666666667);
  opacity: 0.6;
  /* filter: brightness(1.2); */
}
.theme-win7 .vp-window::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--window-border-radius);
  border: none;
  backdrop-filter: blur(4px);
}
.theme-win7 .vp-window .vp-window-body {
  margin: var(--window-spacing);
  margin-top: 0;
  border: var(--window-border) var(--window-border-color);
  background: var(--surface);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  height: calc(100% - 37px) !important;
}
.theme-win7 .vp-window .vp-window-body.has-space {
  padding: var(--window-spacing);
}
.theme-win7 .vp-window .vp-window-body pre {
  margin: calc(var(--window-spacing) * -1);
}
.theme-win7 .vp-window .vp-window-title-bar {
  border: none !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8666666667), inset 1px 0 0 rgba(255, 255, 255, 0.8666666667), inset -1px 0 0 rgba(255, 255, 255, 0.8666666667);
  font: var(--font);
  border: var(--window-border) var(--window-border-color);
  border-radius: var(--window-border-radius) var(--window-border-radius) 0 0;
  padding: var(--window-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--window-background-glass-stripes);
}
.theme-win7 .vp-window .vp-window-title-bar .vp-window-title-bar-text {
  color: #000;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0 4px;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}
.theme-win7 .vp-window .vp-window-controls {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border: var(--window-border) var(--control-border-color);
  border-top: 0;
  border-radius: 0 0 var(--control-border-radius) var(--control-border-radius);
  margin-top: -8px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6666666667), 1px 0 0 rgba(255, 255, 255, 0.6666666667), -1px 0 0 rgba(255, 255, 255, 0.6666666667);
}
.theme-win7 .vp-window .vp-window-controls button {
  position: relative;
  min-width: 29px;
  min-height: 19px;
  padding: 0;
  border: 0;
  border-right: var(--window-border) var(--control-border-color);
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  background: none;
  color: white;
  height: auto;
}
.theme-win7 .vp-window .vp-window-controls button > i {
  filter: drop-shadow(1px 0px 0px #535665) drop-shadow(-1px 0px 0px #535665) drop-shadow(0px 1px 0px #535665) drop-shadow(0px -1px 0px #535665);
}
.theme-win7 .vp-window .vp-window-controls button > i svg {
  width: 14px;
  height: 14px;
}
.theme-win7 .vp-window .vp-window-controls button::after {
  content: none;
}
.theme-win7 .vp-window .vp-window-controls button:hover, .theme-win7 .vp-window .vp-window-controls button:active {
  /* resolve the conflict with button styles */
  background: none;
}
.theme-win7 .vp-window .vp-window-controls button:disabled::before {
  opacity: 0.4;
}
.theme-win7 .vp-window .vp-window-controls button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
  opacity: 1;
}
.theme-win7 .vp-window .vp-window-controls button:not(:hover)::before {
  transition: none;
  opacity: 1;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Minimize] > i, .theme-win7 .vp-window .vp-window-controls button.is-minimize > i {
  display: none;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Minimize]::before, .theme-win7 .vp-window .vp-window-controls button.is-minimize::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Maximize] > i, .theme-win7 .vp-window .vp-window-controls button.is-maximize > i {
  display: none;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Maximize]::before, .theme-win7 .vp-window .vp-window-controls button.is-maximize::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat center;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Restore] > i, .theme-win7 .vp-window .vp-window-controls button.is-restore > i {
  display: none;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Restore]::before, .theme-win7 .vp-window .vp-window-controls button.is-restore::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBlVDLCoMwENwU/7ClvRYK7b2lCIJHEQQ/QEHwqujfBXJIQMnihg34iHPJ7GNm2AhYcL2/JwhAxIuhq3aXb48PiFBna2YFERVHzoQLnAQmSCmxeL5+3rBtSsdpBwVKKTcY+1rY197G+8RRoLVejed94igwxrgB/zXeJ+4Jijz2Erjg+8/WE7ZAt6EgSUsIxQwaJEWv7G6SSgAAAABJRU5ErkJggg==") no-repeat center;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Close], .theme-win7 .vp-window .vp-window-controls button.is-close {
  min-width: 48px;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Close] > i, .theme-win7 .vp-window .vp-window-controls button.is-close > i {
  display: none;
}
.theme-win7 .vp-window .vp-window-controls button[aria-label=Close]::before, .theme-win7 .vp-window .vp-window-controls button.is-close::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC") no-repeat center;
}
.theme-win7 .vp-window .vp-window-controls button:first-child, .theme-win7 .vp-window .vp-window-controls button:first-child::before {
  border-bottom-left-radius: var(--control-border-radius);
}
.theme-win7 .vp-window .vp-window-controls button:last-child, .theme-win7 .vp-window .vp-window-controls button:last-child::before {
  border: 0;
  border-bottom-right-radius: var(--control-border-radius);
}
.theme-win7 .vp-window .vp-window-controls button:focus {
  outline: none;
  animation: none;
}
.theme-win7 .vp-window._maximized::before {
  border-radius: unset;
}
.theme-win7 .vp-window._maximized .vp-window-content .vp-window-title-bar {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  box-shadow: none;
}
.theme-win7 .vp-window._maximized .vp-window-content .vp-window-body {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  margin: 0;
  height: calc(100% - 31px) !important;
}
.theme-win7 .vp-window._active .vp-window-controls {
  border-color: var(--window-border-color);
}
.theme-win7 .vp-window._active .vp-window-controls button {
  border-color: var(--window-border-color);
  box-shadow: var(--control-inset-shadow);
  /*normal button start*/
  background: var(--control-background);
  /*normal button end*/
}
.theme-win7 .vp-window._active .vp-window-controls button::after {
  content: none;
}
.theme-win7 .vp-window._active .vp-window-controls button::before {
  content: "";
  box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
  background: var(--control-background-hovered);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button:hover::before, .theme-win7 .vp-window._active .vp-window-controls button:focus-visible::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button:active::before {
  background: var(--control-background-active);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Minimize], .theme-win7 .vp-window._active .vp-window-controls button.is-minimize {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px, var(--control-background);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Minimize]::before, .theme-win7 .vp-window._active .vp-window-controls button.is-minimize::before {
  content: "";
  box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px, var(--control-background-hovered);
  border-bottom-left-radius: var(--control-border-radius);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Minimize]:hover::before, .theme-win7 .vp-window._active .vp-window-controls button[aria-label=Minimize]:focus-visible::before, .theme-win7 .vp-window._active .vp-window-controls button.is-minimize:hover::before, .theme-win7 .vp-window._active .vp-window-controls button.is-minimize:focus-visible::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Minimize]:active::before, .theme-win7 .vp-window._active .vp-window-controls button.is-minimize:active::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px, var(--control-background-active);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Maximize], .theme-win7 .vp-window._active .vp-window-controls button.is-maximize {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat center, var(--control-background);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Maximize]::before, .theme-win7 .vp-window._active .vp-window-controls button.is-maximize::before {
  content: "";
  box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat center, var(--control-background-hovered);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Maximize]:hover::before, .theme-win7 .vp-window._active .vp-window-controls button[aria-label=Maximize]:focus-visible::before, .theme-win7 .vp-window._active .vp-window-controls button.is-maximize:hover::before, .theme-win7 .vp-window._active .vp-window-controls button.is-maximize:focus-visible::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Maximize]:active::before, .theme-win7 .vp-window._active .vp-window-controls button.is-maximize:active::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat center, var(--control-background-active);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Restore], .theme-win7 .vp-window._active .vp-window-controls button.is-restore {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBlVDLCoMwENwU/7ClvRYK7b2lCIJHEQQ/QEHwqujfBXJIQMnihg34iHPJ7GNm2AhYcL2/JwhAxIuhq3aXb48PiFBna2YFERVHzoQLnAQmSCmxeL5+3rBtSsdpBwVKKTcY+1rY197G+8RRoLVejed94igwxrgB/zXeJ+4Jijz2Erjg+8/WE7ZAt6EgSUsIxQwaJEWv7G6SSgAAAABJRU5ErkJggg==") no-repeat center, var(--control-background);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Restore]::before, .theme-win7 .vp-window._active .vp-window-controls button.is-restore::before {
  content: "";
  box-shadow: 0 0 7px 3px #5dc4f0, var(--control-inset-shadow);
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBlVDLCoMwENwU/7ClvRYK7b2lCIJHEQQ/QEHwqujfBXJIQMnihg34iHPJ7GNm2AhYcL2/JwhAxIuhq3aXb48PiFBna2YFERVHzoQLnAQmSCmxeL5+3rBtSsdpBwVKKTcY+1rY197G+8RRoLVejed94igwxrgB/zXeJ+4Jijz2Erjg+8/WE7ZAt6EgSUsIxQwaJEWv7G6SSgAAAABJRU5ErkJggg==") no-repeat center, var(--control-background-hovered);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Restore]:hover::before, .theme-win7 .vp-window._active .vp-window-controls button[aria-label=Restore]:focus-visible::before, .theme-win7 .vp-window._active .vp-window-controls button.is-restore:hover::before, .theme-win7 .vp-window._active .vp-window-controls button.is-restore:focus-visible::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Restore]:active::before, .theme-win7 .vp-window._active .vp-window-controls button.is-restore:active::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACVSURBVHgBlVDLCoMwENwU/7ClvRYK7b2lCIJHEQQ/QEHwqujfBXJIQMnihg34iHPJ7GNm2AhYcL2/JwhAxIuhq3aXb48PiFBna2YFERVHzoQLnAQmSCmxeL5+3rBtSsdpBwVKKTcY+1rY197G+8RRoLVejed94igwxrgB/zXeJ+4Jijz2Erjg+8/WE7ZAt6EgSUsIxQwaJEWv7G6SSgAAAABJRU5ErkJggg==") no-repeat center, var(--control-background-active);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Close], .theme-win7 .vp-window._active .vp-window-controls button.is-close {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC") no-repeat center, var(--control-background), var(--control-background-close);
  box-shadow: var(--control-inset-shadow);
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Close]::before, .theme-win7 .vp-window._active .vp-window-controls button.is-close::before {
  content: "";
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC") no-repeat center, var(--control-background), var(--control-background-close-hovered);
  box-shadow: 0 0 7px 3px #e68e75, var(--control-inset-shadow);
  border-bottom-right-radius: var(--control-border-radius);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Close]:hover::before, .theme-win7 .vp-window._active .vp-window-controls button[aria-label=Close]:focus-visible::before, .theme-win7 .vp-window._active .vp-window-controls button.is-close:hover::before, .theme-win7 .vp-window._active .vp-window-controls button.is-close:focus-visible::before {
  opacity: 1;
  transition: opacity 0.1s linear;
}
.theme-win7 .vp-window._active .vp-window-controls button[aria-label=Close]:active::before, .theme-win7 .vp-window._active .vp-window-controls button.is-close:active::before {
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC") no-repeat center, var(--control-background), var(--control-background-close-active);
}
.theme-win7 .vp-window._active .vp-window-controls button:disabled {
  /* TODO: Add rules to style disabled close button */
}
.theme-win7 .vp-window._active .vp-window-controls button:disabled[aria-label=Maximize], .theme-win7 .vp-window._active .vp-window-controls button:disabled.is-maximize {
  background: var(--control-background);
}
.theme-win7 .vp-window._active .vp-window-controls button:disabled[aria-label=Maximize]::before, .theme-win7 .vp-window._active .vp-window-controls button:disabled.is-maximize::before {
  content: "";
  background: url("data:image/undefined;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat center;
  opacity: 0.4;
}

.theme-win7 .vp-panel {
  background: var(--surface);
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.7);
}