:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


html, body, #root {
  height: 100%;
}

#root * {
  box-sizing: border-box;
}

/**
Inspired by https://khang-nd.github.io/7.css/
 */
.page-craft-aero-panel {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 0.5px #fff;

  &._blur {
    backdrop-filter: blur(4px);
  }
  &._rounded {
    $radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: $radius;
  }

//.n-button {
//  background-color: rgba(255, 255, 255, 0.71) !important;
//}

  &._dark {
    background-color: rgba(43, 43, 43, 0.85);
    color: white;

    .n-button {
      background-color: transparent !important;
    }

    .n-input {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

}

.font-code {
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font-emoji {
  font-family: "Segoe UI Emoji", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn-no-style {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

._scrollbar_mini {

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: overlay;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(192, 192, 192, 0.63);

    &:hover {
      background-color: #bebebe;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
  }
}

