.canos-task-bar {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 34px;
  font-size: 14px;
  user-select: none;

  .task-bar-container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 2px;

    ._fc {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .task-start-menu {
      .start-button {
        padding: 4px 10px;
      }
    }

    .task-list {
      flex: 1;
      padding-left: 5px;
      padding-right: 5px;

      .task-item {
        padding: 4px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 200px;

        .btn-close {
          margin-left: 10px;
          display: inline-block;

          &:hover {
            color: red;
          }
        }

        &+.task-item {
          margin-left: 5px;
        }
      }
    }

    .task-tray {
      .tray-list {
        height: 75%;
        padding: 0 5px;

        .tray-datetime {
        }
      }
    }
  }
}
