.theme-minimalism .vgo-window {
  background-color: #F3F3F3;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 2px;
}
.theme-minimalism .vgo-window .vgo-window-title-bar-text {
  padding: 4px 2px;
}
.theme-minimalism .vgo-window .vgo-window-controls button {
  border: none;
  transition: none;
}
.theme-minimalism .vgo-window .vgo-window-controls button:hover {
  background-color: rgba(126, 126, 126, 0.3);
}
.theme-minimalism .vgo-window .vgo-window-body {
  height: calc(100% - 32px) !important;
}
.theme-minimalism .vgo-window._maximized {
  padding: 0;
}
.theme-minimalism .vgo-window._maximized .vgo-window-title-bar {
  padding-left: 2px;
}
.theme-minimalism .vgo-window._maximized .vgo-window-body {
  height: calc(100% - 29px) !important;
}
.theme-minimalism .vgo-window._active {
  background-color: white;
}
.theme-minimalism .vgo-panel {
  background-color: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.theme-minimalism .vgo-button {
  background-color: white;
  border: 1px solid rgba(91, 85, 85, 0.2);
}
.theme-minimalism .vgo-button:not(:disabled):hover {
  border-color: rgba(91, 85, 85, 0.2);
}
.theme-minimalism.dark .vgo-window {
  background-color: #3a3a3a;
  color: white;
}
.theme-minimalism.dark .vgo-window .vgo-window-body._bg {
  background-color: rgb(30, 30, 30);
}
.theme-minimalism.dark .vgo-window._active {
  background-color: black;
}
.theme-minimalism.dark .vgo-panel {
  background-color: #3a3a3a;
  color: white;
}
.theme-minimalism.dark .vgo-button {
  background-color: #4B4B4B;
  color: white;
}
.theme-minimalism.dark .vgo-input {
  background-color: #2a2a2a;
  color: white;
}