.theme-mac .vp-window {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  border: 1px solid #acacac;
}
.theme-mac .vp-window .vp-window-content .vp-window-title-bar {
  display: flex;
  flex-direction: row-reverse;
  background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
  color: #4d494d;
  user-select: none;
  border-top: 1px solid #f3f1f3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0 8px;
  height: 22px;
  border-bottom: 1px solid #b1aeb1;
}
.theme-mac .vp-window .vp-window-content .vp-window-title-bar .vp-window-title-bar-text {
  font-size: 14px;
  flex-direction: row-reverse;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 12px;
  color: inherit;
  border: 1px solid currentColor;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button > i {
  font-size: 12px !important;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button > i svg {
  width: 12px;
  height: 12px;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-close {
  color: white;
  background: #ff5c5c;
  border: 1px solid #e33e41;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-close > i {
  visibility: hidden;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-close:hover > i {
  visibility: visible;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-maximize, .theme-mac .vp-window .vp-window-content .vp-window-controls button.is-restore {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-maximize > i, .theme-mac .vp-window .vp-window-content .vp-window-controls button.is-restore > i {
  visibility: hidden;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-maximize:hover > i, .theme-mac .vp-window .vp-window-content .vp-window-controls button.is-restore:hover > i {
  visibility: visible;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-minimize {
  color: white;
  background: #00ca56;
  border: 1px solid #14ae46;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-minimize > i {
  visibility: hidden;
}
.theme-mac .vp-window .vp-window-content .vp-window-controls button.is-minimize:hover > i {
  visibility: visible;
}
.theme-mac .vp-window .vp-window-content .vp-window-body {
  border: none;
  height: calc(100% - 22px);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.theme-mac .vp-window._maximized .vp-window-content .vp-window-title-bar {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.theme-mac .vp-window._maximized .vp-window-content .vp-window-body {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.theme-mac .vp-panel {
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.test-root {
  margin: 10px;
}
.test-root .vp-panel {
  margin-top: 10px;
  margin-bottom: 10px;
}