.start-menu {
  width: 400px;
  border: 1px solid black;
  //border-radius: 8px;
  background-color: silver;
  position: absolute;
  bottom: 34px;
  left: 0;
  user-select: none;

  .start-menu-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;

    .start-menu-left {
      flex: 1;
    }

    .start-menu-right {
      width: 150px;
      margin-left: 10px;
      button {
        padding: 4px 10px;
        font-size: 14px;
      }
    }
  }

  .program-list {
    border: 1px solid;
    padding: 2px;
    background-color: #fff;
    min-height: 300px;
  }

  .shortcut-list {}

  .shortcut-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;

    &:hover {
      background-color: #3A6EA5;
      color: white;
    }

    .shortcut-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .shortcut-title {
      flex: 1;
      font-size: 13px;
    }
  }

  .shortcut-split {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid;
  }

  .start-menu-bottom {
    border-top: 1px solid;
  }

  .input-search {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    padding: 3px 5px;
  }
}
