@import "./theme-default";
@import "./theme-minimalism";
@import "./theme-win8";
@import "./theme-classic";


@import "./theme-xp/index";
@import "./theme-vista/index";
@import "./theme-98/index";

.disable-animation {
  * {
    transition: none !important;
    animation: none !important;
  }

  .n-modal-mask {
    background-color: transparent;
  }

  .n-modal, .n-card, .n-dropdown-menu, .n-notification, .n-message,
  .n-date-panel, .n-popover {
    box-shadow: none;
    outline: 1px solid $primary;
  }

  .vp-window {
    backdrop-filter: unset !important;
    box-shadow: none !important;
  }
}

.vp-button {
  padding: 6px 8px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.vp-input {
  padding: 6px 8px;
  border: 1px solid $color_border;
  scrollbar-width: thin;

  &:not(&:disabled) {
    &:focus {
      border: 1px solid $primary;
      outline: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
