.theme-classic {
  $theme_color_inactive: #D4D0C8;
  $border_width: 1px;
  $border: $border_width solid rgba(45, 45, 45, 0.3);

  $box_shadow: $border_width 0 #000, 0 $border_width #000, $border_width $border_width #000, inset $border_width $border_width #fff;

  $box_shadow_dark: $border_width 0 #2C3034, 0 $border_width #2C3034, $border_width $border_width #2C3034, inset $border_width $border_width #7E888F;

  @mixin normal() {
    box-shadow: $box_shadow;
  }
  @mixin normal_dark() {
    box-shadow: $box_shadow_dark;
  }
  @mixin active() {
    box-shadow: inset $border_width $border_width gray, $border_width 0 #fff, 0 $border_width #fff, $border_width $border_width #fff !important;
  }
  @mixin active_dark() {
    box-shadow: inset $border_width $border_width #2C3034, $border_width 0 #89939C, 0 $border_width #89939C, $border_width $border_width #89939C !important;
  }
  @mixin disabled() {
    text-shadow: 1px 1px 0 #fff;
  }
  @mixin focused() {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }
  @mixin field() {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
  }
  @mixin field_dark() {
    box-shadow: inset -1px -1px #89939C, inset 1px 1px #1a1c1e;
  }

  .vp-window {
    padding: $border_width;
    background: $theme_color_inactive;
    border: $border;
    box-shadow: $box_shadow !important;

    .vp-window-content {
      .vp-window-title-bar {
        background: linear-gradient(45deg, #808080, #C0C0C0);
        color: #D4D0C8;
        padding: 1px 1px 1px 2px;
        .vp-window-title-bar-text {
          font-size: 12px;
        }
      }
    }

    .vp-window-controls {
      gap: 2px;
      button {
        @include normal();
        background-color: $theme_color_inactive;
        color: black;
        padding: 0;
        transition: none;
        border: none;
        height: 18px;
        min-width: 24px;

        i {
          transform: scale(0.8);
        }

        &:hover {
        }
        &:not(&:disabled) {
          &:active {
            @include active();
          }
        }
      }
    }

    .vp-window-body {
      height: calc(100% - 23px) !important;
    }

    &._active {
      .vp-window-content {
        .vp-window-title-bar {
          color: white;
          //background: linear-gradient(45deg, #0A246A, #A6CAF0);
          background: linear-gradient(45deg, $primary, $primary_opacity);
        }
      }
    }
  }

  .vp-panel {
    background-color: $theme_color_inactive;
    @include normal();
    border: $border;
  }
  .vp-button, .n-button {
    border: none;
    @include normal();

    &:not(&:disabled) {
      &:active,&.active {
        @include active();
      }
    }
  }
  .vp-input, .n-input {
    background: #fff;
    @include field();
  }

  .n-tabs-tab {
    @include normal();
    &:active {
      @include active();
    }
    &.n-tabs-tab--active {
      @include active();
    }
  }


  &._dark {
    .vp-window {
      color: white;
      .vp-window-body {
        &._bg {
          background-color: #31363C;
        }
      }
    }
    .vp-panel {
      background-color: #31363C;
      color: white;
      @include normal_dark()
    }
    .vp-button, .n-button {
      background-color: #3C434A;
      border-color: #7E888F;
      color: white;
      box-shadow: $box_shadow_dark;

      &:not(&:disabled) {
        &:active,&.active {
          @include active_dark();
        }
      }
    }
    .vp-input, .n-input {
      background: #31363C;
      color: white;
      @include field_dark();
    }
  }

}
