.theme-default {
  $border_width: 6px;
  $border: 1px solid rgba(0, 0, 0, 0.45);
  $radius: 8px;

  .vp-window {
    border: $border;
    padding: 0 6px 5px;
    background-color: #F3F3F3;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: $radius;
    transition: opacity 0.3s, transform 0.3s, background-color 0.5s;

    .vp-window-content {

      .vp-window-title-bar {
        margin-left: -$border_width;
        margin-right: -$border_width;
        overflow: hidden;
        border-radius: $radius;
        padding: 0 6px 4px;
        text-shadow: 0 0 10px white;

        .vp-window-title-bar-text {
          margin-top: 4px;
        }
      }
      .vp-window-body {
        border: $border;
      }
    }

    .vp-window-controls {
      padding-right: 1px;

      button {
        margin-top: -1px;
        min-width: 30px;
        border: $border;
        & + button {
          border-left: 0 !important;
        }

        &:hover {
          background-color: rgb(233, 233, 233);
          transition: all 0.1s;
          &.is-close {
            background-color: #ffa5aa !important;
          }
        }

        &:active {
          background-color: rgba(181, 181, 181, 0.46);
          &.is-close {
            background-color: #ff6a72 !important;
          }
        }



        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }

    &._maximized {
      padding: 0;
      .vp-window-content {
        .vp-window-title-bar {
          margin-left: 0;
          margin-right: -3px;
        }
        .vp-window-body {
          border: none;
        }
      }
    }

    &._active {
      background-color: white;
    }

  }

  .vp-panel {
    background-color: rgba(255, 255, 255, 0.9);
    border: $border;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: $radius;
  }

  .vp-button {
    background-color: #FDFDFD;
    border: 1px solid $color_border;
    border-radius: 4px;

    &:not(:disabled) {
      &:hover {
        border-color: $primary;
      }
    }
  }

  .vp-input {
    border-radius: 4px;
  }

  &._aero {
    .vp-window {
      .vp-window-body {
        &._bg {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      &._active {
        background-color: rgba(255, 255, 255, 0.65);
        box-shadow: 0px 8.5px 10px rgba(0, 0, 0, 0.115), 0px 68px 80px rgba(0, 0, 0, 0.23), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
      }

    }
    .vp-panel {
      backdrop-filter: blur(4px);
    }
  }
  &._rect {
    .vp-window {
      padding: 0;
      border-radius: 0;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27);
      .vp-window-content {

        .vp-window-title-bar {
          margin-left: 0;
          margin-right: 0;
          padding-right: 0;
          border-radius:0;
        }
      }

      .vp-window-controls {
        padding-right: 0;
        button {
          border: 0 !important;
          background-color: none;
          margin-top: 0;
          min-width: 40px;
          height: 30px;
          margin-bottom: -4px;
          border-radius:0;

          &:hover {
            background-color: rgba(222, 222, 222, 1);
          }

          &:active {
            background-color: rgba(116, 116, 116, 0.46);
          }
        }
      }

      .vp-window-body {
        border: 0;
        height: calc(100% - 30px);
      }
    }
    .vp-panel,
    .vp-button,
    .vp-input {
      border-radius: 0;
    }
  }
  &._rounded {

  }
  &._dark {
    .vp-window {
      background-color: #4B4B4B;
      color: white;
      border-color: rgba(255, 255, 255, 0.2);

      &._active {
        background-color: #202020;
      }

      .vp-window-content {
        .vp-window-title-bar {
          color: white;
          text-shadow: 0 0 10px black;
        }
        .vp-window-controls {
          button {
            border: 1px solid rgba(255, 255, 255, 0.2);

            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
              &.is-close {
                background-color: rgba(232, 17, 35, 0.7) !important;
              }
            }
            &:active {
              background-color: rgba(255, 255, 255, 0.1);
              &.is-close {
                background-color: rgba(151, 23, 34, 0.7) !important;
              }
            }
          }
        }
      }

      .vp-window-body {
        &._bg {
          background-color: rgba(30, 30, 30, 1);
        }
      }

      .vp-window-controls {
        border-radius: 0;
        display: flex;
        align-items: flex-start;

        button {
          background-color: transparent;
          img {
            filter: drop-shadow(0 0 2px #fff);
          }

          &:hover {
            background-color: rgba(227, 227, 227, 1);
          }

          &:active {
            background-color: rgba(109, 109, 109, 1);
          }
        }
      }
    }

    &._aero {
      .vp-window {
        &._active {
          background-color: rgba(0, 0, 0, 0.7);

        }

      }

    }
    .vp-panel {
      background-color: rgba(43, 43, 43, 0.85);
      color: white;
    }

    .vp-button {
      background-color: #757575;
      color: white;
    }
    .vp-input {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
  }
}
