.theme-minimalism {
  $border_width: 2px;
  $border: 1px solid rgba(0, 0, 0, 0.5);
  .vp-window {
    background-color: #F3F3F3;
    border: $border;
    padding: 0 $border_width;


    .vp-window-controls {
      button {
        border: none;
        transition: none;

        &:hover {
          background-color: rgba(126, 126, 126, 0.3);
        }
      }
    }
    .vp-window-body {
      height: calc(100% - 28px) !important;
    }
    &._active {
      background-color: white;
    }
  }
  .vp-panel {
    background-color: #F3F3F3;
    border: $border;
  }
  &._dark {
    .vp-window {
      background-color: #3a3a3a;
      color: white;

      .vp-window-body {
        &._bg {
          background-color: rgba(30, 30, 30, 1);
        }
      }
      &._active {
        background-color: black;
      }
    }
    .vp-panel {
      background-color: #3a3a3a;
      color: white;
    }
  }
}
