.canos-window {
  padding: 0 4px 4px;
  position: absolute;
  z-index: 100;

  &._allowMove {
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 100px;
  }

  .canos-window-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .canos-title-bar {
      margin-left: -4px;
      margin-right: -4px;
      padding: 4px 4px 2px;
      user-select: none;
      .canos-title-bar-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(45deg, gray, transparent);
        padding-left: 4px;

        img {
          pointer-events: none;
        }

        .canos-title-bar-text {
          display: flex;
          align-items: center;
          height: 14px;
          color: white;
          font-size: 14px;

          .window-icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }
    }

    .canos-window-body {
      //flex: 1;
      height: calc(100% - 30px);

      border: 1px solid rgba(0, 0, 0, 0.6);

      &._bg {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .canos-window-controls {
    border-radius: 0;
    display: flex;
    align-items: flex-start;

    button {
      margin-top: -1px;
      height: 24px;
      min-width: 30px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      color: inherit;

      & + button {
        border-left: 0 !important;
      }

      &:hover {
        background-color: rgb(233, 233, 233);
        transition: all 0.1s;

        &._danger {
          background-color: #ffa5aa !important;
        }
      }

      &:active {
        background-color: rgba(181, 181, 181, 0.46);

        &._danger {
          background-color: #ff6a72 !important;
        }
      }

      &.active {
        background-color: rgba(255, 105, 180, 0.8) !important;
      }
    }
  }

  &._thin {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;

    .canos-title-bar {
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
    }

    .canos-window-controls {
      button {
        border: 0 !important;
        background-color: none;
        margin-top: 0;
        min-width: 40px;
        height: 30px;
        margin-bottom: -4px;

        &:hover {
          background-color: rgba(222, 222, 222, 1);
        }

        &:active {
          background-color: rgba(116, 116, 116, 0.46);
        }
      }
    }

    .canos-window-body {
      border: 0;
      height: calc(100% - 30px);
    }
  }

  &._dark {
    background-color: rgba(56, 56, 56, 0.6);

    .canos-window-content {
      .canos-title-bar {
        color: white;
        text-shadow: 0 0 10px black;
      }

      .canos-window-controls {
        button {
          border: 1px solid rgba(255, 255, 255, 0.2);

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);

            &._danger {
              background-color: rgba(232, 17, 35, 0.7) !important;
            }
          }

          &:active {
            background-color: rgba(255, 255, 255, 0.1);

            &._danger {
              background-color: rgba(151, 23, 34, 0.7) !important;
            }
          }
        }
      }
    }

    .canos-window-body {
      &._bg {
        background-color: rgba(30, 30, 30, 1);
      }
    }

    .canos-window-controls {
      border-radius: 0;
      display: flex;
      align-items: flex-start;

      button {
        background-color: transparent;

        img {
          filter: drop-shadow(0 0 2px #fff);
        }

        &:hover {
          background-color: rgba(227, 227, 227, 1);
        }

        &:active {
          background-color: rgba(109, 109, 109, 1);
        }
      }
    }
  }

  &._active {
    background-color: rgba(255, 255, 255, 1);

    .canos-window-content {
      .canos-title-bar {
        .canos-title-bar-inner {
          background: linear-gradient(45deg, #0063B1, transparent);
        }
      }
    }
    &._dark {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  $radius: 8px;

  &._rounded {
    background-color: rgba(229, 229, 229, 0.8);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: $radius;

    .canos-title-bar {
      overflow: hidden;
      border-radius: $radius;
    }

    .canos-window-controls {
      padding-right: 1px;

      button {
        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }

    .canos-window-body,
    .code-editor-placeholder {
    }
  }

  &._blur {
    backdrop-filter: blur(4px);
    box-shadow: 0px 8.5px 10px rgba(0, 0, 0, 0.115), 0px 68px 80px rgba(0, 0, 0, 0.23),
    inset 0 0 1px 1px rgba(255, 255, 255, 0.2);

    .canos-window-body {
      &._bg {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    &._dark {
      .canos-window-body {
        &._bg {
          background-color: rgba(30, 30, 30, 0.7);
        }
      }
    }

    &._rounded {
      .canos-window-body {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
  }
}
